.titletext {
    font-size: 60px
}
.div-a {
  width: 1920px;
  height: 300px;
  top: 0px;
  border: 0px;
  padding: 0px;
  margin: 0px;
  text-align: center;
  background-color: rgb(233, 233, 233)
}
.list-title{
  background-color: cadetblue;
  width: 364px;
  font-size: 40px;
  font-weight: bold; 
  margin-top: 0px;
}

.list{
  background-color: cadetblue;
  width: 324px;
  font-size: 36px;
  position: relative;
  bottom: 40px;
  height:800px;
  
}

.div-background {
  background-color: black;
  width: auto;
  height: auto;
}

.div-background2 {
  
}