.titletext {
    font-size: 60px
}
.div-a {
  width: 223px;
  border: 0px;
  padding: 0px;
  margin: 220px;
  text-align: center;
}
.list-title{
  background-color: cadetblue;
  font-size: 40px;
  font-weight: bold; 
}

.list{
  background-color: cadetblue;
  font-size: 36px;
  position: relative;
  bottom: 40px;
    
}